@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
html {
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.TopBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(12, 99, 214);
  color: white;
  height: 40px;
{
